In [1]:
import pymysql
import sqlalchemy as db
from sqlalchemy import create_engine
import getpass
import pandas as pd
import re
from statistics import mean 
import numpy as np

In [2]:
password = getpass.getpass("Insert password:")
engine = db.create_engine('mysql+pymysql://root:password@localhost')
print("Connected to server!")

Insert password:········
Connected to server!

In [3]:
df_sharks = pd.read_csv('./input/GSAF5.csv', encoding = "ISO-8859-1")

In [4]:
# 1) Diagnosing the data

In [5]:
df_sharks.shape

(5992, 24)

In [6]:
df_sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
df_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [8]:
df_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [9]:
df_sharks.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [10]:
# 2 Fixing the column names

In [11]:
df_sharks = df_sharks.rename(columns={'Case Number': 'case_number', 'Date': 'date', 'Year':'year', 'Type':'type', 'Country':'country', 'Area':'area', 'Location':'location',
       'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatal', 'Time': 'time',
       'Species ': 'species', 'Investigator or Source': 'investigator_source', 'href formula':'href_formula',
       'Case Number.1': 'case_1', 'Case Number.2': 'case_2', 'original order': 'original_order'})

In [12]:
df_sharks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_source', 'pdf', 'href_formula', 'href', 'case_1',
       'case_2', 'original_order', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [13]:
# 3 Dealing with duplicates

In [14]:
# There is no rows completely duplicate
duplicate_rows = df_sharks.duplicated().sum()
duplicate_rows

0

In [15]:
# There are cases whose case numbers are repeated
duplicated_cases = list(df_sharks['case_number'][df_sharks['case_number'].duplicated()].values)
df_sharks_duplicate_cases = df_sharks[df_sharks['case_number'].isin(duplicated_cases)]
df_sharks_duplicate_cases

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_source,pdf,href_formula,href,case_1,case_2,original_order,Unnamed: 22,Unnamed: 23
300,2014.08.02,02-Aug-14,2014,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,...,NaN,"Florida Today, 8/8/2014",2014.08.08-CocoaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5692,NaN,NaN
301,2014.08.02,02-Aug-14,2014,Unprovoked,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,...,NaN,"Florida Today, 8/2/2014",2014.08.02-Sanhueza.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5691,NaN,NaN
392,2013.10.05,06-Oct-13,2013,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Jay Scrivner,M,...,"White shark, 8' to 10'","R. Collier, GSAF",2013.10.06-Scrivner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.05,2013.10.05,5601,NaN,NaN
393,2013.10.05,10-Oct-13,2013,Unprovoked,USA,Florida,"Destin, Okaloosa County",Wading,Zachary Tyke Standridge,M,...,Small bull shark,"Monroe County Advocate, 10/9/2013",2013.10.05-Standridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.05,2013.10.05,5600,NaN,NaN
523,2012.09.02.b,02-Sep-12,2012,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,female,F,...,3.5' to 4' shark,"WYTV, 9/3/2012",2012.09.02.b-NSB-girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.09.02.b,2012.09.02.b,5470,NaN,NaN
524,2012.09.02.b,02-Sep-12,2012,Provoked,USA,Hawaii,"Spreckelsville, Maui",Spearfishing,M. Malabon,NaN,...,"Tiger shark, 10' to 12'",HawaiiNow.com,2012.09.02.c-Malabon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.09.02.b,2012.09.02.b,5469,NaN,NaN
840,2009.12.18,18-Dec-09,2009,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Paddling on kneeboard,Tshintshekile Nduva,M,...,NaN,"B. Jordan & A. Ferreira, Times Live, 12/21/2009",2009.12.18.a-Nduva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.12.18,2009.12.18,5153,NaN,NaN
841,2009.12.18,18-Dec-09,2009,Invalid,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Surfing,Lance Morris,M,...,No shark involvement,"M. Addison, C. Eckstander, GSAF",2009.12.18.b-Morris-barracuda bite.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.12.18,2009.12.18,5152,NaN,NaN
1212,2006.09.02,02-Sep-06,2006,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Swimming,male,M,...,NaN,"S. Petersohn, GSAF",2006.09.02.b-Child-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4781,NaN,NaN
1213,2006.09.02,02-Sep-06,2006,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,...,"White shark, 3.5m","Cape Times, 9/3/2006",2006.09.02.a-Harcourt-Wood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4780,NaN,NaN
1375,2005.04.06,06-Apr-05,2005,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",NaN,Jessica Abe,F,...,small hammerhead shark,WJXT News4Jax.com,2005.04.06.a-Abe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.04.06,2005.04.06,4618,NaN,NaN
1376,2005.04.06,06-Apr-05,2005,Invalid,HONDURAS,Bay Islands,Utila,SCUBA Diving,female,F,...,Shark involvement not confirmed,"J. Engel, SRI & S. Fox, Deep Blue",2005.04.06.b-Utila.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.04.06,2005.04.06,4617,NaN,NaN
2409,1990.05.10,10-May-90,1990,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,Snorkeling,Sydney woman,F,...,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1",1990.05.10.b-Sydney-woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.05.10,1990.05.10,3585,NaN,NaN
2410,1990.05.10,10-May-90,1990,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,"Snorkeling, possibly holding a fish",German male,M,...,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1",1990.05.10.a-German-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.05.10,1990.05.10,3584,NaN,NaN
2712,1983.06.15,15-Jun-83,1983,Unprovoked,BAHAMAS,NaN,Carter Cay,NaN,Roger Yost,M,...,6' blacktip shark,"E. Pace, FSAF",1983.06.15-NV-Yost.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3281,NaN,NaN
2713,1983.06.15,15-Jun-83,1983,Invalid,ITALY,Northwest Italy,Riomaggiore (Ligura),Scuba diving,Roberto Piaviali,M,...,3 m [10'] white shark,MEDSAF,1983.06.15-Piaviali.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3280,NaN,NaN
2837,1980.07.00,Late Jul-1980,1980,Unprovoked,USA,North Carolina,"Emerald Isle Pier (near Morehead City), Carter...",Surfing,male,M,...,NaN,"C. Creswell, GSAF, J. Barnes",1980.07.00-NCsurfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.07.00,1980.07.00,3156,NaN,NaN
2838,1980.07.00,Early Jul-1980,1980,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Tom Durrance,M,...,NaN,"Daytona Beach Morning Journal, 7/9/1980",1980.07.00-Durrance.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.07.00,1980.07.00,3155,NaN,NaN
3317,1966.12.26,26-Dec-66,1966,Unprovoked,SINGAPORE,NaN,Singapore,Wading,Hussain Ali,M,...,NaN,"H.D. Baldridge, SAF Case #1458",1966.12.26-NV-Hussain-Ali.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.12.26,1966.12.26,2676,NaN,NaN
3318,1966.12.26,26-Dec-66,1966,Unprovoked,AUSTRALIA,New South Wales,Coogee,Spearfishing,David Jensen,M,...,1.8 m [6'] shark,"Sun (Sydney), 12/29/1966; H.D. Baldridge, p.137",1966.12.26-Jensen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.12.26,1966.12.26,2675,NaN,NaN
3588,1962.06.11.b,11-Jun-62,1962,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,Clarence Anglin,M,...,NaN,"San Francisco Chronicle, 5/3/1986",1962.06.11.c-Anglin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.06.11.b,1962.06.11.b,2405,NaN,NaN
3589,1962.06.11.b,11-Jun-62,1962,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,John William Anglin,M,...,NaN,"San Francisco Chronicle, 5/3/1986",1962.06.11.b-Anglin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.06.11.b,1962.06.11.b,2404,NaN,NaN
4982,1923.00.00.a,1923,1923,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,...,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M...",1923.00.00.a-NJ fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1923.00.00.a,1923.00.00.a,1011,NaN,NaN
4983,1923.00.00.a,1923,1922,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,...,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M...",1923.00.00.a-NJ fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1923.00.00.a,1923.00.00.a,1010,NaN,NaN
5028,1920.00.00.b,1920s,1920,Unprovoked,JAMAICA,Westmoreland Parish,Savanna-la-Mar,Jumped overboard,sailor,M,...,NaN,"Daily Gleaner, 4/14/1969",1920.00.00.c-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.00.00.b,1920.00.00.b,965,NaN,NaN
5029,1920.00.00.b,1920,1920,Unprovoked,NEW ZEALAND,North Island,"Stanley Bay, Auckland Harbor",NaN,female,F,...,NaN,"V.M. Coppleson (1958), p.262",1920.00.00.b-StanleyBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.00.00.b,1920.00.00.b,964,NaN,NaN
5090,1915.07.06.a.R,Reported 06-Jul-1915,1915,Unprovoked,MEXICO,Tamaulipas,Tampico,Fishing,Captain Thaxton,M,...,NaN,"Oakland Tribune, 7/6/1915",1915.07.06.b.R-Thaxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,903,NaN,NaN
5091,1915.07.06.a.R,Reported 06-Jul-1915,1915,Unprovoked,MEXICO,NaN,Santa Maria Bar,Wading,J.W. McDonald,M,...,NaN,"Oakland Tribune, 7/6/1915",1915.07.06.a.R-McDonald.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,902,NaN,NaN
5120,1913.08.27.R,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,"Lavalette, Ocean County",NaN,NaN,M,...,NaN,"Trenton Evening Times, 8/27/1913",1913.08.27.R-Lavalette.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.08.27.R,1913.08.27.R,873,NaN,NaN
5121,1913.08.27.R,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,"Spring Lake, Monmouth County",NaN,NaN,F,...,NaN,"Washington Post, 8/27/1913",1913.08.27.R-FemaleFoot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.08.27.R,1913.08.27.R,872,NaN,NaN
5207,1907.10.16.R,Reported 16-Oct-1907,1907,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,...,Shark involvement probable,"Dawson Daily News, 11/20/1907",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,1907.10.16.R,786,NaN,NaN
5208,1907.10.16.R,Reported 16-Oct-1907,1907,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,...,Shark involvement probable,"Dawson Daily News, 11/20/1907",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,1907.10.16.R,785,NaN,NaN

In [16]:
count_cn = df_sharks.case_number.value_counts()
print(count_cn[count_cn > 1].count())

count_c1 = df_sharks.case_1.value_counts()
print(count_c1[count_c1 > 1].count())

count_c2 = df_sharks.case_2.value_counts()
print(count_c2[count_c2 > 1].count())

print(df_sharks['case_number'].equals(df_sharks['case_2']))

df_sharks = df_sharks.drop(['case_1', 'case_2'], axis = 1)

16
17
16
False

In [17]:
df_sharks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_source', 'pdf', 'href_formula', 'href', 'original_order',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [18]:
# 4 Deleting not useful columns

In [19]:
print(df_sharks.groupby('type').count()['case_number'])
print(df_sharks.groupby('activity').count()['case_number'])
print(df_sharks.groupby('injury').count()['case_number'])
print(df_sharks.groupby('species').count()['case_number'])
#they are not interesting for my purpose

type
Boat             200
Boating          110
Invalid          519
Provoked         557
Sea Disaster     220
Unprovoked      4386
Name: case_number, dtype: int64
activity
                                                                                  1
                                                                                  1
 a canoe was pursuing a schooner that had forcibily abducted 5 young girls        1
"Boat accident"                                                                   1
"Climbing up to ship after repairing the stern in water"                          1
                                                                                 ..
ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover    1
small boat                                                                        1
wreck of the State Oil Company ship Permina                                       1
yachting accident                                                                 1
yachtsman in a zodiac                                                             1
Name: case_number, Length: 1492, dtype: int64
injury
 "Struck across loins" but no injury. According to witnesses, incident involved a bottlenose dolphin.                                                                                           1
 2 of the 5 fishermen were so seriously injured they died of their wounds                                                                                                                       1
 3 fingers & thigh lacerated, foot crushed                                                                                                                                                      1
 3 unidentified bodies recovered (male, female & young girl) from gut of female  4.5 m [14'9"]  white shark caught in fishing net. They may have drowned in tidal wave following earthquake     1
 55  perished, some were  taken by sharks                                                                                                                                                       1
                                                                                                                                                                                               ..
non-fatal                                                                                                                                                                                       1
remains of one of the crew found in shark                                                                                                                                                       1
small laceration to wrist                                                                                                                                                                       1
unknown                                                                                                                                                                                         1
Put hand through hatch, shark nearly bit off thumb                                                                                                                                            1
Name: case_number, Length: 3595, dtype: int64
species
                                                                  6
 "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4']             1
 1.5 m [5'] dusky shark                                           1
 Blacktip shark, C. maculipinnis. 1.9 m to 2.1 m [6.5' to 7']     1
 Bull shark, 1.2m                                                 1
                                                                 ..
unknown, possibly a white shark                                   1
whaler shark                                                      1
white shark                                                       1
small brown shark                                               1
                                                                  2
Name: case_number, Length: 1538, dtype: int64

In [20]:
df_sharks = df_sharks.drop(['type','investigator_source', 'pdf','href_formula', 'href', 'activity', 'name','injury', 'species', 'original_order'], axis = 1)

#others could be interesting for future research in my topic. Which others?

df_sharks.columns

Index(['case_number', 'date', 'year', 'country', 'area', 'location', 'sex',
       'age', 'fatal', 'time', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [21]:
# 5 Dealing with missing values

In [22]:
# Check missing values
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country          43
area            402
location        496
sex             567
age            2681
fatal            19
time           3213
Unnamed: 22    5991
Unnamed: 23    5990
dtype: int64

In [23]:
# Delete unnamed and NaN columns
df_sharks = df_sharks.drop(columns = ['Unnamed: 22', 'Unnamed: 23'])

In [24]:
df_sharks.columns

Index(['case_number', 'date', 'year', 'country', 'area', 'location', 'sex',
       'age', 'fatal', 'time'],
      dtype='object')

In [25]:
num_rows_0 = df_sharks.shape[0]

In [26]:
# Delete rows for columns with less than 500 NaN
df_sharks = df_sharks.dropna(subset = list(null_cols[null_cols <= 600].index))

In [27]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
location          0
sex               0
age            1760
fatal             0
time           2247
dtype: int64

In [28]:
num_rows_1 = df_sharks.shape[0]
num_rows_dif = num_rows_0 - num_rows_1
print(num_rows_dif)

1164

In [29]:
# Filling the age NaN with the average of ages

In [30]:
df_sharks.groupby('age').count().index

Index([' ', '  ', '"middle-age"', '"young"', '(adult)', '10', '10 or 12', '11',
       '12', '12 or 13',
       ...
       'F', 'Teen', 'Teens', 'X', 'adult', 'mid-20s', 'mid-30s', 'teen',
       'young', '  '],
      dtype='object', name='age', length=135)

In [31]:
# put in the functions file and import!

def age_fixer(text):
    text = str(text)
    text.strip()
    if re.match('month', text):
        return "1"
    if re.search('(\d{1,2})\s(.+)\s(\d{1,2})', text):
        return str(mean([int(s) for s in re.findall('(\d{1,2})',text)]))
    if re.search('\d{1,2}', text):
        return re.findall('\d{1,2}',text)[0]
    if re.match('[Tt]een', text):
        return "16"
    if re.search('[aA]dult', text):
        return "40"
    if re.search('[Yy]oung', text):
        return "30"
    else:
        return np.NaN

In [32]:
df_sharks['age'] = df_sharks['age'].apply(age_fixer)

In [33]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
location          0
sex               0
age            1768
fatal             0
time           2247
dtype: int64

In [34]:
df_sharks['age'] = pd.to_numeric(df_sharks['age'])

In [35]:
df_sharks = df_sharks.fillna(value = {'age': df_sharks.age.mean()})

In [36]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
location          0
sex               0
age               0
fatal             0
time           2247
dtype: int64

In [37]:
def time_fixer(text):
    text = str(text)
    text.strip()
    if re.match('\d{1,2}\D?\d\d', text):
        tot_str = re.match('(\d{1,2})\D?(\d\d)',text).group()
        sub_str = re.sub("[^0-9]", "", str(tot_str))
        for_str = ("{:0>4}".format(sub_str))[:2]
        hour = int(for_str)
        if hour >= 0 and hour <= 5:
            return "night"
        if hour > 5 and hour <= 11: 
            return "morning"
        if hour > 11 and hour <= 17: 
            return "afternoon"
        if hour > 17 and hour <= 23:
            return "evening"
    if re.search('[Nn]ight|[Dd]ark', text):
        return "night"
    if re.search('[Ee]vening|[Ss]unset|[Dd]usk', text):
        return "evening"
    if re.search('[Ll]unch|[Aa]fterno+n|[Dd]ay|[Nn]oon', text):
        return "afternoon"
    if re.search('A.?M|[Mm]orning|[Dd]awn', text):
        return "morning"
    else:
        return np.NaN

In [38]:
df_sharks['time'] = df_sharks['time'].apply(time_fixer)

In [39]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
location          0
sex               0
age               0
fatal             0
time           2291
dtype: int64

In [40]:
df_sharks = df_sharks.fillna(value = {'time': "unknown"})

In [41]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number    0
date           0
year           0
country        0
area           0
location       0
sex            0
age            0
fatal          0
time           0
dtype: int64

In [42]:
# ojo que si hay columnas que me dan igual y me he cargado sus 
#filas, mejor cargarme las columnas y que sus filas completas si que me sirvan

'''['case_number', 'date', 'year', 'type', 'country', 'area', 'location', 
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_source', 'pdf', 'href_formula', 'href', 'case_1',
       'case_2', 'original_order']'''

#hacer regex en activity
#hacer regex en ¿year? y date --> month

"['case_number', 'date', 'year', 'type', 'country', 'area', 'location', \n       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',\n       'investigator_source', 'pdf', 'href_formula', 'href', 'case_1',\n       'case_2', 'original_order']"

In [43]:
df_sharks.columns

Index(['case_number', 'date', 'year', 'country', 'area', 'location', 'sex',
       'age', 'fatal', 'time'],
      dtype='object')

,case_number,date,year,country,area,location,sex,age,fatal,time
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,16.000000,N,afternoon
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,36.000000,N,morning
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,43.000000,N,morning
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,M,26.923529,N,unknown
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,M,26.923529,N,unknown
6,2016.09.11,11-Sep-16,2016,USA,Florida,"Ponte Vedra, St. Johns County",M,60.000000,N,afternoon
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,"Makaha, Oahu",F,51.000000,N,afternoon
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Koumac,M,50.000000,Y,afternoon
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",F,12.000000,N,afternoon
10,2016.09.05.a,05-Sep-16,2016,AUSTRALIA,Western Australia,Injidup,M,26.923529,N,afternoon
11,2016.09.04,04-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,9.000000,N,unknown
12,2016.09.01,01-Sep-16,2016,USA,California,"Refugio State Beach, Santa Barbara County",M,22.000000,N,unknown
13,2016.08.29.b,29-Aug-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,25.000000,N,afternoon
14,2016.08.29.a,29-Aug-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,37.000000,N,afternoon
16,2016.08.25,25-Aug-16,2016,USA,Florida,"Ponte Vedra, St. Johns County",M,49.000000,N,afternoon
17,2016.08.07,07-Aug-16,2016,BAHAMAS,New Providence Island,Nassau,M,15.000000,N,unknown
18,2016.08.06,06-Aug-16,2016,USA,Hawaii,Maui,M,21.000000,N,unknown
19,2016.08.04,04-Aug-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",M,22.000000,N,unknown
20,2016.07.29,29-Jul-16,2016,SPAIN,Alicante Province,Arenales del Sol,M,40.000000,N,morning
22,2016.07.28,28-Jul-16,2016,AUSTRALIA,Western Australia,Near Albany,M,26.923529,N,unknown
23,2016.07.27,27-Jul-16,2016,USA,Florida,"Florida Keys, Monroe County",M,43.000000,N,unknown
24,2016.07.26,26-Jul-16,2016,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",M,18.000000,N,afternoon
25,2016.07.24,24-Jul-16,2016,JAPAN,Kochi Prefecture,Irino Beach,M,29.000000,N,evening
26,2016.07.23.b,23-Jul-16,2016,AUSTRALIA,Tasmania,Clifton Beach,M,36.000000,N,unknown
27,2016.07.23.a,23-Jul-16,2016,BAHAMAS,Abaco Islands,Green Turtle Cay,M,26.923529,N,unknown
28,2016.07.20,20-Jul-16,2016,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",M,31.000000,N,afternoon
30,2016.07.16.b,16-Jul-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",F,9.000000,N,afternoon
31,2016.07.16.a,16-Jul-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",F,11.000000,N,morning
32,2016.07.15,15-Jul-16,2016,USA,South Carolina,"North Myrtle Beach, Horry County",M,26.923529,N,unknown
34,2016.07.08.R,Reported 08-Jul-2016,2016,SPAIN,Canary Islands,"Las Teresitas, Tenerife",F,10.000000,N,unknown
...,...,...,...,...,...,...,...,...,...,...
5946,ND.0048,Before 1956,0,KIRIBATI,Phoenix Islands,Canton Island,M,26.923529,N,unknown
5948,ND.0046,Before 1952,0,KIRIBATI,Gilbert Islands,Nonouti,M,26.923529,Y,unknown
5950,ND.0043,"""During the war"" 1943-1945",0,SOLOMON ISLANDS,New Georgia,"Munda Island, Roviana Lagoon",M,26.923529,N,unknown
5951,ND.0042,"""Before the war""",0,AUSTRALIA,Torres Strait,Thursday Island?,M,26.923529,N,unknown
5952,ND.0041,"Said to be 1941-1945, more likely 1945",0,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",M,26.923529,Y,unknown
5953,ND.0040,1941-1945,0,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",M,26.923529,Y,unknown
5954,ND.0039,1941-1945,0,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",M,26.923529,Y,unknown
5955,ND.0038,1941-1942,0,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,M,13.500000,Y,afternoon
5956,ND.0037,1940 - 1950,0,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,M,26.923529,Y,unknown
5957,ND.0036,1940 - 1950,0,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,M,26.923529,N,unknown
5958,ND.0035,1940 - 1950,0,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,M,26.923529,N,unknown
5961,ND.0032,World War II,0,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. Georges Channel,M,26.923529,N,unknown
5962,ND.0031,World War II,0,PAPUA NEW GUINEA,Madang Province,Off Lae,M,26.923529,N,unknown
5965,ND.0027,No date,0,GREECE,Dodecanese Islands,Symi Island,M,26.923529,N,unknown
5967,ND.0025,Before 1927,0,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",M,26.923529,UNKNOWN,unknown
5969,ND.0023,No date,0,SOUTH AFRICA,Western Cape Province,Arniston,F,26.923529,N,unknown
5971,ND.0021,No date,0,SOUTH AFRICA,KwaZulu-Natal,Durban,M,26.923529,Y,unknown
5972,ND.0020,1920 -1923,0,AUSTRALIA,Queensland,Great Barrier Reef,M,26.923529,Y,unknown
5973,ND.0019,Before 1921,0,USA,Florida,"Gadsden Point, Tampa Bay",M,26.923529,N,unknown
5974,ND.0018,Before 1911,0,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,M,26.923529,N,unknown
5975,ND.0017,Before 1921,0,SOUTH AFRICA,KwaZulu-Natal,Durban,M,26.923529,Y,unknown
5976,ND.0016,Before 1921,0,SOUTH AFRICA,KwaZulu-Natal,Durban,M,26.923529,Y,unknown
5978,ND.0014,Before 17-Jul-1916,0,USA,North Carolina,Somewhere between Hatteras and Beaufort,M,26.923529,N,unknown
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,SOUTH AFRICA,KwaZulu-Natal,Durban,M,26.923529,Y,unknown
5980,ND.0012,Before 19-Jul-1913,0,SOUTH AFRICA,KwaZulu-Natal,Durban,M,26.923529,Y,unknown
5982,ND.0010,Circa 1862,0,USA,Hawaii,Puna,F,26.923529,N,unknown
5986,ND.0006,Before 1906,0,AUSTRALIA,New South Wales,,M,26.923529,Y,unknown
5987,ND.0005,Before 1903,0,AUSTRALIA,Western Australia,Roebuck Bay,M,26.923529,Y,unknown
5989,ND.0003,1900-1905,0,USA,North Carolina,Ocracoke Inlet,M,26.923529,Y,unknown
5991,ND.0001,1845-1853,0,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",M,15.000000,Y,unknown