# Pandas Project

<img style="float: left;" src="./images/pandashark.jpg" width="500">

#### Hypothesis:

### 0) Importing modules and connecting to server

In [1]:
import pymysql
import sqlalchemy as db
from sqlalchemy import create_engine
import getpass
import pandas as pd
import re
from statistics import mean 
import numpy as np

In [2]:
password = getpass.getpass("Insert password:")
engine = db.create_engine('mysql+pymysql://root:password@localhost')
print("Connected to server!")

Insert password:········
Connected to server!

In [3]:
df_sharks = pd.read_csv('./input/GSAF5.csv', encoding = "ISO-8859-1")

### 1) Diagnosing the data

In [4]:
df_sharks.shape

(5992, 24)

In [5]:
df_sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [7]:
df_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [8]:
df_sharks.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

### 3) Fixing the column names

In [9]:
df_sharks = df_sharks.rename(columns={'Case Number': 'case_number', 'Date': 'date', 'Year':'year', 'Type':'type', 'Country':'country', 'Area':'area', 'Location':'location',
       'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatal', 'Time': 'time',
       'Species ': 'species', 'Investigator or Source': 'investigator_source', 'href formula':'href_formula',
       'Case Number.1': 'case_1', 'Case Number.2': 'case_2', 'original order': 'original_order'})

In [10]:
df_sharks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_source', 'pdf', 'href_formula', 'href', 'case_1',
       'case_2', 'original_order', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

### 4) Dealing with duplicates

#### 4.1) Rows completely duplicate

In [11]:
# There is no rows completely duplicate
duplicate_rows = df_sharks.duplicated().sum()
duplicate_rows

0

#### 4.2) Duplicate primary key

In [12]:
# There are case_numbers repeated
duplicated_cases = list(df_sharks['case_number'][df_sharks['case_number'].duplicated()].values)
df_sharks_duplicate_cases = df_sharks[df_sharks['case_number'].isin(duplicated_cases)]
display(df_sharks_duplicate_cases)

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_source,pdf,href_formula,href,case_1,case_2,original_order,Unnamed: 22,Unnamed: 23
300,2014.08.02,02-Aug-14,2014,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,...,NaN,"Florida Today, 8/8/2014",2014.08.08-CocoaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5692,NaN,NaN
301,2014.08.02,02-Aug-14,2014,Unprovoked,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,...,NaN,"Florida Today, 8/2/2014",2014.08.02-Sanhueza.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5691,NaN,NaN
392,2013.10.05,06-Oct-13,2013,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Jay Scrivner,M,...,"White shark, 8' to 10'","R. Collier, GSAF",2013.10.06-Scrivner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.05,2013.10.05,5601,NaN,NaN
393,2013.10.05,10-Oct-13,2013,Unprovoked,USA,Florida,"Destin, Okaloosa County",Wading,Zachary Tyke Standridge,M,...,Small bull shark,"Monroe County Advocate, 10/9/2013",2013.10.05-Standridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.05,2013.10.05,5600,NaN,NaN
523,2012.09.02.b,02-Sep-12,2012,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,female,F,...,3.5' to 4' shark,"WYTV, 9/3/2012",2012.09.02.b-NSB-girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.09.02.b,2012.09.02.b,5470,NaN,NaN
524,2012.09.02.b,02-Sep-12,2012,Provoked,USA,Hawaii,"Spreckelsville, Maui",Spearfishing,M. Malabon,NaN,...,"Tiger shark, 10' to 12'",HawaiiNow.com,2012.09.02.c-Malabon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.09.02.b,2012.09.02.b,5469,NaN,NaN
840,2009.12.18,18-Dec-09,2009,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Paddling on kneeboard,Tshintshekile Nduva,M,...,NaN,"B. Jordan & A. Ferreira, Times Live, 12/21/2009",2009.12.18.a-Nduva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.12.18,2009.12.18,5153,NaN,NaN
841,2009.12.18,18-Dec-09,2009,Invalid,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Surfing,Lance Morris,M,...,No shark involvement,"M. Addison, C. Eckstander, GSAF",2009.12.18.b-Morris-barracuda bite.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.12.18,2009.12.18,5152,NaN,NaN
1212,2006.09.02,02-Sep-06,2006,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Swimming,male,M,...,NaN,"S. Petersohn, GSAF",2006.09.02.b-Child-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4781,NaN,NaN
1213,2006.09.02,02-Sep-06,2006,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,...,"White shark, 3.5m","Cape Times, 9/3/2006",2006.09.02.a-Harcourt-Wood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4780,NaN,NaN
1375,2005.04.06,06-Apr-05,2005,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",NaN,Jessica Abe,F,...,small hammerhead shark,WJXT News4Jax.com,2005.04.06.a-Abe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.04.06,2005.04.06,4618,NaN,NaN
1376,2005.04.06,06-Apr-05,2005,Invalid,HONDURAS,Bay Islands,Utila,SCUBA Diving,female,F,...,Shark involvement not confirmed,"J. Engel, SRI & S. Fox, Deep Blue",2005.04.06.b-Utila.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.04.06,2005.04.06,4617,NaN,NaN
2409,1990.05.10,10-May-90,1990,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,Snorkeling,Sydney woman,F,...,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1",1990.05.10.b-Sydney-woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.05.10,1990.05.10,3585,NaN,NaN
2410,1990.05.10,10-May-90,1990,Unprovoked,AUSTRALIA,Queensland,Outer Barrier Reef near Port Douglas,"Snorkeling, possibly holding a fish",German male,M,...,2 m hammerhead,"Courier-Mail, 5/11/1990, p.1",1990.05.10.a-German-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.05.10,1990.05.10,3584,NaN,NaN
2712,1983.06.15,15-Jun-83,1983,Unprovoked,BAHAMAS,NaN,Carter Cay,NaN,Roger Yost,M,...,6' blacktip shark,"E. Pace, FSAF",1983.06.15-NV-Yost.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3281,NaN,NaN
2713,1983.06.15,15-Jun-83,1983,Invalid,ITALY,Northwest Italy,Riomaggiore (Ligura),Scuba diving,Roberto Piaviali,M,...,3 m [10'] white shark,MEDSAF,1983.06.15-Piaviali.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3280,NaN,NaN
2837,1980.07.00,Late Jul-1980,1980,Unprovoked,USA,North Carolina,"Emerald Isle Pier (near Morehead City), Carter...",Surfing,male,M,...,NaN,"C. Creswell, GSAF, J. Barnes",1980.07.00-NCsurfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.07.00,1980.07.00,3156,NaN,NaN
2838,1980.07.00,Early Jul-1980,1980,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Tom Durrance,M,...,NaN,"Daytona Beach Morning Journal, 7/9/1980",1980.07.00-Durrance.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.07.00,1980.07.00,3155,NaN,NaN
3317,1966.12.26,26-Dec-66,1966,Unprovoked,SINGAPORE,NaN,Singapore,Wading,Hussain Ali,M,...,NaN,"H.D. Baldridge, SAF Case #1458",1966.12.26-NV-Hussain-Ali.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.12.26,1966.12.26,2676,NaN,NaN
3318,1966.12.26,26-Dec-66,1966,Unprovoked,AUSTRALIA,New South Wales,Coogee,Spearfishing,David Jensen,M,...,1.8 m [6'] shark,"Sun (Sydney), 12/29/1966; H.D. Baldridge, p.137",1966.12.26-Jensen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.12.26,1966.12.26,2675,NaN,NaN
3588,1962.06.11.b,11-Jun-62,1962,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,Clarence Anglin,M,...,NaN,"San Francisco Chronicle, 5/3/1986",1962.06.11.c-Anglin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.06.11.b,1962.06.11.b,2405,NaN,NaN
3589,1962.06.11.b,11-Jun-62,1962,Unprovoked,USA,California,San Francisco Bay,Escaping from Alacatraz,John William Anglin,M,...,NaN,"San Francisco Chronicle, 5/3/1986",1962.06.11.b-Anglin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.06.11.b,1962.06.11.b,2404,NaN,NaN
4982,1923.00.00.a,1923,1923,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,...,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M...",1923.00.00.a-NJ fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1923.00.00.a,1923.00.00.a,1011,NaN,NaN
4983,1923.00.00.a,1923,1922,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,...,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M...",1923.00.00.a-NJ fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1923.00.00.a,1923.00.00.a,1010,NaN,NaN
5028,1920.00.00.b,1920s,1920,Unprovoked,JAMAICA,Westmoreland Parish,Savanna-la-Mar,Jumped overboard,sailor,M,...,NaN,"Daily Gleaner, 4/14/1969",1920.00.00.c-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.00.00.b,1920.00.00.b,965,NaN,NaN
5029,1920.00.00.b,1920,1920,Unprovoked,NEW ZEALAND,North Island,"Stanley Bay, Auckland Harbor",NaN,female,F,...,NaN,"V.M. Coppleson (1958), p.262",1920.00.00.b-StanleyBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.00.00.b,1920.00.00.b,964,NaN,NaN
5090,1915.07.06.a.R,Reported 06-Jul-1915,1915,Unprovoked,MEXICO,Tamaulipas,Tampico,Fishing,Captain Thaxton,M,...,NaN,"Oakland Tribune, 7/6/1915",1915.07.06.b.R-Thaxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,903,NaN,NaN
5091,1915.07.06.a.R,Reported 06-Jul-1915,1915,Unprovoked,MEXICO,NaN,Santa Maria Bar,Wading,J.W. McDonald,M,...,NaN,"Oakland Tribune, 7/6/1915",1915.07.06.a.R-McDonald.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,902,NaN,NaN
5120,1913.08.27.R,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,"Lavalette, Ocean County",NaN,NaN,M,...,NaN,"Trenton Evening Times, 8/27/1913",1913.08.27.R-Lavalette.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.08.27.R,1913.08.27.R,873,NaN,NaN
5121,1913.08.27.R,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,"Spring Lake, Monmouth County",NaN,NaN,F,...,NaN,"Washington Post, 8/27/1913",1913.08.27.R-FemaleFoot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.08.27.R,1913.08.27.R,872,NaN,NaN
5207,1907.10.16.R,Reported 16-Oct-1907,1907,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,...,Shark involvement probable,"Dawson Daily News, 11/20/1907",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,1907.10.16.R,786,NaN,NaN
5208,1907.10.16.R,Reported 16-Oct-1907,1907,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,...,Shark involvement probable,"Dawson Daily News, 11/20/1907",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,1907.10.16.R,785,NaN,NaN

In [13]:
#some of them seem to be the same attack and some not, therefore I will delete the duplicates
df_sharks = df_sharks.drop_duplicates(subset = ['case_number'])
df_sharks.shape

(5976, 24)

In [14]:
# see the difference of columns case_number, case_1 and case_2
count_cn = df_sharks.case_number.value_counts()
print(count_cn[count_cn > 1].count())

count_c1 = df_sharks.case_1.value_counts()
print(count_c1[count_c1 > 1].count())

count_c2 = df_sharks.case_2.value_counts()
print(count_c2[count_c2 > 1].count())

print(df_sharks['case_number'].equals(df_sharks['case_2']))

df_sharks = df_sharks.drop(['case_1', 'case_2'], axis = 1)

0
1
0
False

### 5) Deleting not useful columns

In [15]:
print(df_sharks.groupby('type').count()['case_number'])
print(df_sharks.groupby('activity').count()['case_number'])
print(df_sharks.groupby('injury').count()['case_number'])
print(df_sharks.groupby('species').count()['case_number'])
print(df_sharks.groupby('fatal').count()['case_number'])
print(df_sharks.groupby('location').count()['case_number'])

#Any of these columns are interesting for my purpose

type
Boat             200
Boating          110
Invalid          515
Provoked         555
Sea Disaster     220
Unprovoked      4376
Name: case_number, dtype: int64
activity
                                                                                  1
                                                                                  1
 a canoe was pursuing a schooner that had forcibily abducted 5 young girls        1
"Boat accident"                                                                   1
"Climbing up to ship after repairing the stern in water"                          1
                                                                                 ..
ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover    1
small boat                                                                        1
wreck of the State Oil Company ship Permina                                       1
yachting accident                                                                 1
yachtsman in a zodiac                                                             1
Name: case_number, Length: 1490, dtype: int64
injury
 "Struck across loins" but no injury. According to witnesses, incident involved a bottlenose dolphin.                                                                                           1
 3 fingers & thigh lacerated, foot crushed                                                                                                                                                      1
 3 unidentified bodies recovered (male, female & young girl) from gut of female  4.5 m [14'9"]  white shark caught in fishing net. They may have drowned in tidal wave following earthquake     1
 55  perished, some were  taken by sharks                                                                                                                                                       1
 6 lacerations to left hand                                                                                                                                                                     1
                                                                                                                                                                                               ..
non-fatal                                                                                                                                                                                       1
remains of one of the crew found in shark                                                                                                                                                       1
small laceration to wrist                                                                                                                                                                       1
unknown                                                                                                                                                                                         1
Put hand through hatch, shark nearly bit off thumb                                                                                                                                            1
Name: case_number, Length: 3587, dtype: int64
species
                                                                  6
 "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4']             1
 1.5 m [5'] dusky shark                                           1
 Blacktip shark, C. maculipinnis. 1.9 m to 2.1 m [6.5' to 7']     1
 Bull shark, 1.2m                                                 1
                                                                 ..
unknown, possibly a white shark                                   1
whaler shark                                                      1
white shark                                                       1
small brown shark                                               1
                                                                  2
Name: case_number, Length: 1536, dtype: int64
fatal
 N            8
#VALUE!       1
F             1
N          4303
N             1
UNKNOWN      93
Y          1549
n             1
Name: case_number, dtype: int64
location
                                                  1
 A pearl  farm in Roebuck Bay                     1
 Ambatolaoka, Nosy Be Island                      1
 Bellingen                                        1
 Black Head, south of Taree                       1
                                                 ..
Southern Wharf                                  1
½ mile offshore & 9 miles north of Fort Pierce    1
Île Saint-Paul                                    1
Île de Casey                                      1
Île de Sable                                      1
Name: case_number, Length: 3922, dtype: int64

In [16]:
df_sharks = df_sharks.drop(['type', 'location','investigator_source', 'pdf',
                            'fatal','href_formula', 'href', 'activity', 'name',
                            'injury', 'species', 'original_order'], axis = 1)

df_sharks.columns

Index(['case_number', 'date', 'year', 'country', 'area', 'sex', 'age', 'time',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

### 6) Dealing with missing values

#### 6.1) Importing fixer functions

In [17]:
from functions.functions import age_fixer
from functions.functions import time_fixer

In [18]:
# Check missing values
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country          43
area            401
sex             566
age            2671
time           3201
Unnamed: 22    5975
Unnamed: 23    5974
dtype: int64

#### 6.2) Delete columns where almost all values are NaN

In [19]:
df_sharks = df_sharks.drop(columns = ['Unnamed: 22', 'Unnamed: 23'])

#### 6.3) Delete rows for columns with less than 600 NaN

In [20]:
df_sharks = df_sharks.dropna(subset = list(null_cols[null_cols <= 600].index))

In [21]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
sex               0
age            1898
time           2438
dtype: int64

#### 6.4) Filling the 'age' NaN with the average of ages

In [22]:
#First fixing the column 'age'
df_sharks['age'] = df_sharks['age'].apply(age_fixer)

In [23]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
sex               0
age            1907
time           2438
dtype: int64

In [24]:
#Converting the column 'age' to numeric (in order to be able to find the mean)
df_sharks['age'] = pd.to_numeric(df_sharks['age'])

In [25]:
#Filling the NaN values with the mean
df_sharks = df_sharks.fillna(value = {'age': df_sharks.age.mean()})

In [26]:
#Changing the column type to integer type
df_sharks['age'] = df_sharks['age'].astype('int64')

In [27]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number       0
date              0
year              0
country           0
area              0
sex               0
age               0
time           2438
dtype: int64

#### 6.5) Filling the 'time' NaN with the value "unknown"

In [28]:
#First fixing the column 'time'
df_sharks['time'] = df_sharks['time'].apply(time_fixer)

In [29]:
#Filling the NaN values with the value "unknown"
df_sharks = df_sharks.fillna(value = {'time': "unknown"})

In [30]:
null_cols = df_sharks.isnull().sum()
null_cols

case_number    0
date           0
year           0
country        0
area           0
sex            0
age            0
time           0
dtype: int64

### 7) Creating new columns

#### 7.1) Importing maker functions

In [31]:
from functions.functions import month_maker

#### 7.2) Create new 'month' column

In [33]:
#Create new 'month' column from 'date' column
df_sharks['month'] = df_sharks['date'].apply(month_maker)

In [34]:
#Delete 'date' column
df_sharks = df_sharks.drop(columns = ['date'])

In [36]:
print(df_sharks.groupby('month').count()['case_number'])

month
01         417
02         304
03         340
04         363
05         309
06         412
07         541
08         511
09         451
10         360
11         324
12         352
unknown    370
Name: case_number, dtype: int64

#### 7.2) Create new 'decade' column

### 8) Fixing columns

#### 8.1) Importing fixer functions

In [37]:
from functions.functions import country_fixer
from functions.functions import area_fixer
from functions.functions import sex_fixer

#### 8.2) Fixing 'country', 'area', and 'sex' column

In [39]:
df_sharks['country'] = df_sharks['country'].apply(country_fixer)

In [42]:
df_sharks['area'] = df_sharks['area'].apply(area_fixer)

In [44]:
df_sharks['sex'] = df_sharks['sex'].apply(sex_fixer)

#### 8.3) Deleting rows with unknown values

In [46]:
#In 'sex' column
drop_sex_unknown = list(df_sharks[df_sharks['sex'] == "unknown"].index)
df_sharks = df_sharks.drop(drop_sex_unknown, axis = 0)

In [47]:
#In 'year' column
df_sharks.groupby('year').count()
drop_year_unknown = list(df_sharks[(df_sharks['year'] == 0) | (df_sharks['year'] == 5)].index)
df_sharks = df_sharks.drop(drop_year_unknown, axis = 0)

# Missing

In [48]:
#look at types
#otras cosas  de data cleaning
#arreglar valores de mis columnas
#OJOOOOO CREAR LA DE RANGO DE DECADAS EN EL 7 !
#poner hipótesis