## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here

sample_list_1 = random.sample(range(0,101),80)

print(sample_list_1)

[14, 11, 85, 55, 58, 37, 40, 29, 100, 16, 17, 89, 36, 56, 1, 7, 3, 88, 61, 15, 35, 10, 8, 75, 42, 59, 6, 63, 44, 68, 95, 57, 30, 84, 19, 20, 74, 33, 72, 51, 52, 9, 71, 48, 39, 41, 27, 22, 47, 45, 92, 4, 25, 26, 32, 43, 50, 98, 91, 81, 94, 64, 23, 65, 93, 77, 0, 79, 83, 28, 97, 5, 87, 2, 82, 49, 96, 62, 21, 53]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))


#same length, sample_list_1 values are unique!

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here

sample_list_2 = []
for x in range(0,80):
    sample_list_2.append(random.choice(range(0,101)))

print(sample_list_2)

[18, 20, 57, 24, 14, 16, 24, 70, 37, 84, 74, 84, 15, 6, 44, 97, 95, 76, 57, 63, 34, 53, 78, 15, 40, 29, 35, 18, 79, 40, 6, 76, 18, 40, 71, 4, 75, 96, 31, 25, 88, 83, 96, 13, 7, 80, 21, 43, 1, 43, 38, 19, 49, 59, 50, 59, 30, 23, 13, 35, 36, 24, 54, 82, 53, 59, 42, 69, 52, 7, 72, 60, 38, 37, 84, 95, 70, 55, 55, 0]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

#different length, sample_list_1 values are unique!

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
# Your code here
set3 = set1.difference(set2)

print(set3)

{2, 3, 5, 8, 9, 10, 11, 17, 22, 26, 27, 28, 32, 33, 39, 41, 45, 47, 48, 51, 56, 58, 61, 62, 64, 65, 68, 77, 81, 85, 87, 89, 91, 92, 93, 94, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here
set4 = set2.difference(set1)

print(set4)

{34, 69, 38, 70, 76, 13, 78, 80, 18, 54, 24, 60, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# Your code here
set5 = set1.intersection(set2)

print(set5)

{0, 1, 4, 6, 7, 14, 15, 16, 19, 20, 21, 23, 25, 29, 30, 35, 36, 37, 40, 42, 43, 44, 49, 50, 52, 53, 55, 57, 59, 63, 71, 72, 74, 75, 79, 82, 83, 84, 88, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here

formula_0 = len(set1) - (len(set3) + len(set5)) == len(set2) - (len(set4) + len(set5))

formula_1 = len(set1) > len(set3) and len(set1) > len(set5)

formula_2 = len(set2) > len(set4) and len(set2) > len(set5)

print(formula_0)
print(formula_1)
print(formula_2)

True
True
True

#### Create an empty set called `set6`.

In [15]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here

set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here

print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here

print(set3.issubset(set1))

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
# Your code here
print(set3.union(set4,set5) == set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here
first_element_set1 = set1.pop()
print(first_element_set1)

print(set1)

0
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 68, 71, 72, 74, 75, 77, 79, 81, 82, 83, 84, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    try:
        set1.remove(e)
    except KeyError:
        pass

print(len(set1))

62